<!-- <hello name="{{ name }}"></hello> -->
<!-- <button (click)="filterscrips()">Filter Scrips</button> -->

<!-- {{filteredStocks|json}} -->

<hr>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <td>Symbol</td>
        <td>open</td>
        <td>High</td>
        <td>Low</td>
        <td>ltp</td>
        <td>ptsC</td>
        <td>Status</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of filteredStocks">
        <td>{{stock.symbol}}</td>
        <td>{{stock.open}}</td>
        <td>{{stock.high}}</td>
        <td>{{stock.low}}</td>
        <td>{{stock.ltP}}</td>
        <td>{{stock.ptsC}}</td>
        <td>
          <div *ngIf="stock.ptsC>0; else templateName">
            <i class="fa fa-caret-up" style="font-size:50px;color:green"></i>
          </div>
          <ng-template #templateName>
            <i class="fa fa-caret-down" style="font-size:50px;color:red"></i>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
</div>